<%= form_with(model: @waggon, local: true) do |form| %>
  <%= render 'common/errors', resource: @waggon %>

  <div>
    <p>
      <%= form.label :waggon_type, "Waggon type" %>
      <%= form.select(:waggon_type, [["Economy"], ["Sleeper"]]) %>
    </p>

    <p>
      <%= form.label :upper_shelf, "Amount of upper shelves" %>
      <%= form.number_field(:upper_shelf, in: 1 .. 36) %>
    </p>

    <p>
      <%= form.label :lower_shelf, "Amount of lower shelves" %>
      <%= form.number_field(:lower_shelf, in: 1 .. 36) %>
    </p>

    <p>
      <%= form.label :train_id, "Choose a train" %>
      <%= form.collection_select :train_id, Train.all, :id, :number %>
    </p>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
